
src/.vs/

src/Api.Aplication/Aplication/bin/

src/Api.Aplication/Aplication/obj/

src/Api.CrossCutting/CrossCutting/bin/

src/Api.CrossCutting/CrossCutting/obj/

src/Api.Domain/bin/

src/Api.Domain/obj/

src/Api.Data/obj/

src/Api.Service/obj/

src/Api.Aplication/.vs/

src/Api.Aplication/bin/

src/Api.Aplication/obj/

src/Api.CrossCutting/bin/

src/Api.CrossCutting/obj/

src/Api.Service/bin/

src/Api.Data/bin/
